h1 {
   font-family: "Doto"   ;
   border: yellow 5px solid;
   color: whitesmoke;
   padding: 10px;
}

main {
    background-color: brown;
    padding: 50px;
    border-radius: 15px;
    
}
    
body {
    margin: 0;
    background-image: url("libros.jpg");
    padding: 50px;
    
    
}

h2{
    border: palevioletred 6px solid;
    color: white;
    padding: 5px;
}

ul{
    border: greenyellow 2px solid ;
    
   
}

ul li{
    padding: 10px;
    color: blue;
}

#descripcion {
    background-color: rgb(63, 63, 143);
    text-align: center;
    color: white;
    padding: 20px;
    width: 50%;
    margin: auto;

}

#descripcion h2{
    color: pink;
    border: none;
}

#contenido {
    color: blue;
    

}

.laquetuquieras {
    color: white;
    
}

