html, body {
    height: 100vh;
    width: 100vw;

}

.main {
    height: 50%;
    width: 50%;
    background-color: brown;
    padding: 50px;
}

.c1{
    background-color: blue;
    height: 100px;
    width: 80%;
    margin: 50px;
}

.c2 {background-color: red;
height: 100px;
width: 80% ;
border: green 20px solid;
}

.c2 h1 {
    margin-top: 80px;
    margin-left: 120px;
}