body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

footer {
    background-color: rgb(78, 156, 209);
    color: aliceblue;
    text-align: center;
    padding: 20px 0 20px 0 ;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;
}

.card {
    display: inline-block;
    width: 20%;
    margin: 10px;
    background-color: rgb(228, 234, 234);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 14px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 14px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 14px 23px 0px rgba(0,0,0,0.75);;
    border: white solid 2px;
}
 .card2 {
    background-color: brown;
    color: aliceblue;



 }
img {
    width: 100%;
    border-radius: 10px;
}

.main {
    text-align: center;
    height: 70vh;
    align-items: center;
}

h1{
    text-align: center;
}

header {
    background-color: aquamarine;
    margin-bottom: 50px;
    padding: 40px 0;
}