body {
   
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    height: 100vh;
   background-image: url('https://static.vecteezy.com/system/resources/previews/017/187/795/non_2x/luxury-gold-abstract-line-art-background-mountain-topographic-terrain-map-background-with-gold-lines-texture-design-illustration-for-wall-art-fabric-packaging-web-banner-app-wallpaper-vector.jpg');
  }
  
  
  header {
    background-color: #333;
  padding: 1px;

  
  }
  
  nav ul {
    
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
   
    
  }

  h1 {

    color: white;
    
    
  }

  nav h1 {
 color: orange;

  }

  p{

    color: white;
  }

  button {
    background-color: orange;
  }

  div{
    border: orange solid 2px;
    background-color: orange;
    border-radius: 2px;
    padding: 20px;
  }

  div h2{
    color: white;
  }